<div class="signin-ct">
  <div class="form-ct">
    <div class="signin-title">
      <h1>Sign In</h1>
    </div>
    <label for="username" class="signin-label">Username</label>
    <input
      class="signin-input"
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      autocomplete="off"
      required
    />
    <div class="d-flex justify-content-between">
      <label for="password" class="signin-label">Password</label>
      <a routerLink="/recover" class="forgot-link">Forgot password?</a>
    </div>
    <input
      class="signin-input"
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      autocomplete="off"
      required
    />
    <button class="my-btn">Sign In</button>
  </div>
</div>
<div class="opt-ct">
  <div class="opt-wrapper d-flex align-items-center justify-content-center">
    <span>Don't have account yet?</span>
    <button routerLink="/signup" class="my-btn-1">sign up</button>
  </div>
</div>