<nav class="mybreadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Project</li>
  </ol>
</nav>
<div class="project-ct">
  <div class="text-end">
    <div class="btn btn-success">New</div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">-</th>
          <th scope="col">Product</th>
          <th scope="col">Ip</th>
          <th scope="col">Domain</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="uil uil-cog"></i></td>
          <td>Apple</td>
          <td>127.0.0.1</td>
          <td>auth.appleld.com</td>
          <td>result@email.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
