<nav class="mybreadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Overview</li>
  </ol>
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Balance</th>
      <th scope="col">Product</th>
      <th scope="col">Project</th>
      <th scope="col">Visitor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>${{data.balance}}</td>
      <td>{{data.product}}</td>
      <td>{{data.project}}</td>
      <td>{{data.visitor}}</td>
    </tr>
  </tbody>
</table>
