<div class="nav-ct">
    <div class="d-flex justify-content-between align-items-center nav-con h-100">
        <i class="uil uil-shield web-icon"></i>
        <i class="uil uil-bars menu-toggler" (click)="toggle($event)"></i>
    </div>
</div>